@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
a:link {
	border-color: #FF9900;
	color: #FF9900;
}
a:visited {
	border-color: #FF9900;
	color: #FF9900;
}
a:hover {
	border-color: #CCCCCC;
	color: #fcfcfc;
}
a:active {
	border-color: #999999;
	color: #999999;
}
a {
	cursor: hand;
	cursor: pointer;
}
strong {
	font-family: Impact, Charcoal, sans-serif;
	color: #FF9900;
	text-transform: uppercase;
}
body {
	background-color:#000000;
	font-family: 'Nothing You Could Do', cursive;
	color: #FFF;
}
html {
	scrollbar-base-color: #AAAAAA;
}
.centerAligned {
	text-align:center;
}
.orange {
	color: #FF9900;
	font-weight:bold;
}
.container {
	margin-top:2em;
	display:block;
}
.current {
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
}
.group {
page-break-inside:avoid;
}
.headerImage {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	-webkit-animation-name: dropIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-name: dropIn;
	animation-duration:1s;
	animation-iteration-count:1;
	animation-timing-function: ease-in;
}
.bannerImage{
	max-height: 200px;
	max-width: 100%;
}

@-webkit-keyframes dropIn{
	0% {-webkit-transform: translate(0px,-400px);}
	75% {-webkit-transform: translate(0px,50px);}
	85% {-webkit-transform: translate(0px,-10px);}
	98% {-webkit-transform: translate(0px,2px);}
	100% {-webkit-transform: translate(0px,0px);}
}
@keyframes dropIn{
	0% {transform: translate(0px,-400px);}
	75% {transform: translate(0px,50px);}
	85% {transform: translate(0px,-10px);}
	98% {transform: translate(0px,2px);}
	100% {transform: translate(0px,0px);}
}
.popUp{
	-webkit-animation-name: popUp;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-name: popUp;
	animation-duration:1.5s;
	animation-iteration-count:1;
	animation-timing-function: ease-in;
}
@-webkit-keyframes popUp{
	0% {-webkit-transform: translate(0px,1200px);}
	75% {-webkit-transform: translate(0px,-50px);}
	85% {-webkit-transform: translate(0px,10px);}
	98% {-webkit-transform: translate(0px,-2px);}
	100% {-webkit-transform: translate(0px,0px);}
}
@keyframes popUp{
	0% {transform: translate(0px,1200px);}
	75% {transform: translate(0px,-50px);}
	85% {transform: translate(0px,10px);}
	98% {transform: translate(0px,-2px);}
	100% {transform: translate(0px,0px);}
}
.popDown{
	-webkit-animation-name: popDown;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-name: popDown;
	animation-duration:.5s;
	animation-iteration-count:1;
	animation-timing-function: ease-in;
}
@-webkit-keyframes popDown{
	0% {-webkit-transform: translate(0px,0px);}
	100% {-webkit-transform: translate(0px,1200px);}
}
@keyframes popDown{
	0% {transform: translate(0px,0px);}
	100% {transform: translate(0px,1200px);}
}
.rodderImages{
	text-align: center;
}
.link {
	color:#FFF;
	text-decoration:underline;
}
.header {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-top:1.5em;
}
.text {
	font-size: small;
	font-style: normal;
	text-align: center;
	margin:.25em;
	color: #FFF;
	font-family: sans-serif;
}
.textleft {
	background-color: #f5f5f5;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: small;
	font-style: normal;
	text-align: left;
	margin:.25em 10% .25em 10%;
	padding: 1em;
	color: #000;
}
.hidden {
	opacity: 0;
	display:none;
    visibility: hidden;
}
img.divider {
    max-width: 100%;
    display:block;
    margin: 0 auto;
}
table.navbar{
	position: fixed;
	top: 200px;
	font-size: large;
	font-weight: bold;
	text-align: center;
	color:#FF9900;
	margin: .5em 0 1.5em 0;
}
.active {
	font-family: Impact, Charcoal, sans-serif;
	color: #FFF;
	font-size:150%;
	cursor: hand;
	cursor: pointer;
	background-color: #999;
	border-radius: 15px;
	padding:7px;	
    box-shadow: 2px 2px 10px #888;
	-webkit-animation-name: glow;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
	animation-name: glow;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in;
}
.inactive {
	font-size:75%;
	color:#fff;
	cursor: hand;
	cursor: pointer;
	background-color: #999;
	border-radius: 15px;
	padding:7px;	
    box-shadow: 2px 2px 10px #888;
	opacity: .5;
}
td.third{
	width: 33.33%;
}
.glow {
	-webkit-animation-name: glow;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
	animation-name: glow;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in;
}
@-webkit-keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
@keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
div.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
div.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 80%;
	margin: 5%;
}
.rodderImages{
	margin-top: 1.5em;
	text-align: center;
}
.theContent{
	position: fixed;
	top: 275px;
	width: 100%;
	height:80%;
	overflow: auto;
}
.h2em{
height: 2em;
}
@media (min-width : 0px) {
	table.navbar{
		width: 100%;
	}
	.rodderImages{
		width: 100%;
	}
	div.videoWrapper {
		width: 100%;
	}
}
@media (min-width : 768px) {
	.rodderImages{
		width: 75%;
		margin-left: 12.5%;
	}
	div.videoWrapper {
		width: 75%;
		margin-left: 12.5%;
		padding-bottom: 40%;
	}
	table.navbar{
		width: 75%;
		margin-left: 12.5%;
	}
}
@media (min-width: 1024px) {
	.rodderImages{
		width: 50%;
		margin-left: 25%;
	}
	div.videoWrapper {
		width: 50%;
		margin-left: 25%;
		padding-bottom: 30%;
	}
	table.navbar{
		width: 50%;
		margin-left: 25%;
	}
}
