#image {
	text-align:center;
}
#images {
	text-align:center;
	margin-bottom:2em;
}
#images img {
	cursor: hand;
	cursor: pointer;	
}
a:link {
	border-color: #FF9900;
	color: #FF9900;
}
a:visited {
	border-color: #FF9900;
	color: #FF9900;
}
a:hover {
	border-color: #CCCCCC;
	color: #CCCCCC;
}
a:active {
	border-color: #999999;
	color: #999999;
}
body {
background-color:#000000;
color:#FF9900;
}
html {
	scrollbar-base-color: #AAAAAA;
}
.centerAligned {
	text-align:center;
}
.orange {
	color: #FF9900;
	font-weight:bold;
}
.orangebox {
   	font-weight:bold;
	font-size:120%;
	color: #FF9900;
	}
.white {
	color: #ccc;
	font-size:75%;
}
.container {
	margin-top:2em;
	display:block;
}
.current {
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
}
.foot {
	margin-top: 2em;
	text-align:center;
	font-family:Helvetica, sans-serif;
	font-size:small;
	color:#777777;
}
.float {
float:left;
}
.float50 {
float:left;
width:25%;
margin-right:75%;
position:fixed;
top:0;
left:0;
}
.gallerycontainer {

}
.group {
page-break-inside:avoid;
}
.imgfloat {
}
.Header {
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	margin-top:1em;
	color: #FF9900;
}
.link {
	color:#FFF;
	text-decoration:underline;
}
.links {
	font-size: small;
	font-style: italic;
	text-align:center;
	margin-bottom:2em;
}

.righthalf {
	margin-left:25%;
	margin-top:2em;
}
.subheader {
	font-size: large;
	font-weight: bold;
	text-align: center;
	margin-top:1.5em;
	color: #FF9900;
}
.sublinks {
	font-size: large;
	font-weight: bold;
	text-align: center;
	margin-bottom:1.5em;
	margin-top:1.5em;
	color:#FF9900;
}
.text {
	font-size: small;
	font-style: normal;
	text-align: center;
	margin:.25em;
	color: #FFF;
}
.textleft {
	background-color: #f5f5f5;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: small;
	font-style: normal;
	text-align: left;
	margin:.25em 10% .25em 10%;
	padding: 1em;
	color: #000;
}
.thecontainer {
margin:0px;
padding: 0px;
}
.thegallerycontainer {
	margin:0px;
	padding: 0px;
}
.topgallery {
	margin-top:2em;
	margin-bottom:1em;
}
.transparent {
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
}
